body {
  background-image: url("../img/spg-codewireland1.webp");
  background-repeat: repeat;
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.white-background
{
    background-color:white; 
    color: black; 
      display: block;
  margin-left: auto;
  margin-right: auto;
}

.growToFitWebpage
{
  object-fit:cover;
}

.tbin-background {
  background-image: url("../img/pl_005.png");
  background-repeat: repeat;
}

.glitch-background {
  background-image: url("../img/pl_002.png");
  background-repeat: repeat;
}

img {
  max-width: 100%;
}

.whiteText 
{
  color:white;
}

a {
  color: white;
  text-decoration:none;
  outline-style:none;
}

.white-background a
{
  color:black; 
}


.white-background a:active ,
.white-background a:focus ,
 .white-background a:hover
{
   color: rgb(18, 107, 148);
}

a:hover .white-background
{
  color:black
}

.dropdown-item:hover {
  color: #f8f9fa;
  background-color: rgb(18, 107, 148);
}

.white-background .dropdown-item {
  color: black;
  background-color: rgb(18, 107, 148);
}

a .dropdown-item {
  color: #f8f9fa;
  background-color: #343a40;
}


@media(min-width:1025px) {
  .navbar-toggler {
    display: none;
  }

  .collapse:not(.show)
  {
    display:inline-flex;
  }
}


@media(max-width:900px) 
{
  .navbar .navbar-brand {
    float: none;
    display: inline-block;
  }

  .navbar .navbar-nav>.nav-item {
    float: none;
    margin-left: .1rem;
  }

  .navbar .navbar-nav {
    float: none !important;
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }

  .navbar-toggler {
    display: block !important;
    width:48px;
    height:48px;
  }

  .navbar-toggleable-sm.collapse {
    display: none !important
  }

  .navbar-toggleable-sm.collapse.in {
    display: block !important
  }
}


.navbar-toggler-icon {
  background-color: white;
}


.slide {
  width: 40%;
  margin: auto;
  height: 60%;
}

a:hover,
a:active,
a:focus {
  color: white;
  outline: 0;
  border: none;
  text-decoration: none;
  outline-style: none;
  -moz-outline-style: none;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

.blue-text {
  color: #30BDFF;
}

ul
{
  list-style-type: none;
}




.whiteBottomBorder
{
  border-bottom: 1px solid white;
}

article p 
{
  margin-top:0;
  margin-left:25%;
  margin-right:25%;
}

.icon 
{
  width:15%;
  height:15%; 

}

span 
{
  font-size:larger;
}



/*
 * HD Desktop computers
*/ 
@media screen and (min-width:1200px)
{
  img 
  {
    width:50%;
    height:50%;
  }
  .icon 
  {
    width: 5%;
    height: 5%;
  }
  
}

.merchIcon
{
  width:50%; 
  height:50%
}

/*
 * Tablets
*/ 
@media screen and (max-width:1199px) and (min-width:401px)
{
  img 
  {
    width:30%;
    height:30%;
  }
  .icon 
  {
    width:15%;
    height:15%; 
  
  }
}

/*
 * Phones
*/ 
@media screen and (max-width:1199px) and (min-width:401px)
{
  img 
  {
    width:50%;
    height:50%;
  }
  .icon 
  {
    width:15%;
    height:15%; 
  
  }
}

