<!DOCTYPE html>
<html lang="en">
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="stylesheet" type="text/css" href="{{relative}}css/spg.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>{{ page.title | upcase }} | {{ site.title }}</title>
  {% feed_meta %}
  {% seo %}
</head>

<body>

  <h1><i>Sarcastic Pasta Games</i></h1>
  <div role="navigation">
    <button class="navbar-toggler " aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" data-target="#menuGames" data-toggle="collapse">
      <i class="fa fa-bars" style="background-color: white; " aria-hidden="true"></i>

    </button>


    <ul class="nav justify-content-center navbar-collapse " id="menuGames">
      <li class="nav-item">
        <a class="nav-link" href="{{relative}}index.html">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="{{relative}}games.html">Games</a>
        <div class="dropdown-menu navbar-dark bg-dark">
          <a class="dropdown-item text-white" href="{{relative}}our-games/the-boss.html">The BOSS</a>
          <a class="dropdown-item text-white" href="{{relative}}our-games/the-boss-is-nothing.html">The BOSS is
            nothing</a>
          <a class=" dropdown-item text-white" href="{{relative}}our-games/glitch-in-the-system.html">Glitch in
            the
            system</a>
          <a class=" dropdown-item text-white" href="{{relative}}our-games/spark.html">Spark</a>
        </div>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="{{relative}}crew.html">Crew</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="{{relative}}blog.html">Blog</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="{{relative}}merchandise.html">Merchandise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{relative}}contact.html">Contact</a>
      </li>
    </ul>
  </div>
  {{content}}
  <br />
  <br />
  <br />
  <a href="mailto:sarcasticpastagames@gmail.com" class="white_border">sarcasticpastagames@gmail.com</a>
  <hr>
  <p>© 2020 by Sarcastic Pasta Games.</p>
  <hr>
  <div>
    <a href="https://sarcastic-pasta-games.tumblr.com/">
      <img src="{{relative}}img/Tumblr.png" alt="Tumblr icon" title="Our Tumblr" style="width:5%;height:5%">
    </a>
    <a href="https://www.youtube.com/channel/UCq1p3Cvybzv5G8pLTIO1_Ow">
      <img src="{{relative}}img/YouTube.png" alt="YouTube icon" title="Our YouTube" style="width:5%;height:5%">
    </a>
    <a href="https://www.patreon.com/sarcasticpastagames">
      <img src="{{relative}}img/PatreonModern.png" alt="Patreon icon" title="Our Patreon" style="width:5%;height:5%">
    </a>
    <a href="https://twitter.com/Sarcastic_Pasta">
      <img src="{{relative}}img/Twitter.png" alt="Twitch icon" title="Our Twitch" style="width:5%;height:5%">
    </a>
    <a href="https://www.facebook.com/SarcasticPasta/">
      <img src="{{relative}}img/Facebook.png" alt="Facebook icon" title="Our Facebook" style="width:5%;height:5%">
    </a>
    <a href="https://www.instagram.com/sarcastic_pasta_games/">
      <img src="{{relative}}img/Instagram.png" alt="Instagram icon" title="Our Instagram" style="width:5%;height:5%">
    </a>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ relative }}js/filePath.js"></script>
</body>

</html>