<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="stylesheet" type="text/css" href="{{relative}}css/spg.css">
  <title>{{ page.title | upcase }} | {{ site.title }}</title>
  {% feed_meta %}
  {% seo %}
</head>

<body>
  {% assign lvl = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <h1><i>Sarcastic Pasta Games</i></h1>
  <div role="navigation">
    <button class="navbar-toggler " aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" data-target="#menuGames" data-toggle="collapse">
      <i class="fa fa-bars" style="background-color: white; " aria-hidden="true"></i>

    </button>


    <ul class="nav justify-content-center navbar-collapse " id="menuGames">
      <li class="nav-item">
        <a class="nav-link" href="index.html | relat">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href={{"games.html" | relative_path
          }}>Games</a>
        <div class="dropdown-menu navbar-dark bg-dark">
          <a class="dropdown-item text-white" href={{"our-games/the-boss.html" | relative_path }}>The BOSS</a>
          <a class="dropdown-item text-white" href={{"our-games/the-boss-is-nothing.html" | relative_path }}>The BOSS is
            nothing</a>
          <a class=" dropdown-item text-white" href={{"our-games/glitch-in-the-system.html" | relative_path }}>Glitch in
            the
            system</a>
          <a class=" dropdown-item text-white" href={{"our-games/spark.html" | relative_path }}>Spark</a>
        </div>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href={{"crew.html" | relative_path }}>Crew</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href={{"blog.html" | relative_path }}>Blog</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href={{"merchandise.html" | relative_path }}>Merchandise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"contact.html" | relative_path }}>Contact</a>
      </li>
    </ul>
  </div>
  {{content}}
  <br />
  <br />
  <br />
  <a href="mailto:sarcasticpastagames@gmail.com" class="white_border">sarcasticpastagames@gmail.com</a>
  <hr>
  <p>© 2020 by Sarcastic Pasta Games.</p>
  <hr>
  <div>
    <a href="sarcastic-pasta-games.tumblr.com">
      <img src={{ "img\Tumblr.png" | relative_url }} alt="Tumblr icon" title="Our Tumblr" style="width:5%;height:5%">
    </a>
    <a href="https://www.youtube.com/channel/UCq1p3Cvybzv5G8pLTIO1_Ow">
      <img src={{ "img\Youtube.png" | relative_url }} alt="YouTube icon" title="Our YouTube" style="width:5%;height:5%">
    </a>
    <a href="https://www.patreon.com/sarcasticpastagames">
      <img src={{ "img\Patreon.png" | relative_url }} alt="Patreon icon" title="Our Patreon" style="width:5%;height:5%">
    </a>
    <a href="https://twitter.com/Sarcastic_Pasta">
      <img src={{ "img\Twitter.png" | relative_url }} alt="Twitch icon" title="Our Twitch" style="width:5%;height:5%">
    </a>
    <a href="https://www.facebook.com/SarcasticPasta/">
      <img src={{ "img\Facebook.png" | relative_url }} alt="Facebook icon" title="Our Facebook"
        style="width:5%;height:5%">
    </a>
    <a href="https://www.instagram.com/sarcastic_pasta_games/">
      <img src={{ "img\Instagram.png" | relative_url }} alt="Instagram icon" title="Our Instagram"
        style="width:5%;height:5%">
    </a>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ relative }}js/filePath.js"></script>
</body>

</html>